/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

/* TYPOGRAPHY */
html {
    font-size: 16px;
}

h1, h2, p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'PT Serif', serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.job {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    line-height: 16px;
}

.full-name {
    font-weight: 600;
    margin-top: 11px;
}

footer {
    color: #A9A9A9;
    font-family: sans-serif;
    margin-top: 13rem;
    margin-bottom: 1rem;
}

footer p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

footer a {
    color: #A9A9A9;
    font-weight: 700;
}

/* TEXT */
.for-centering {
    /* background-color: maroon; */
    text-align: center;
}
.text {
    display: inline-grid;
    max-width: max-content;
    margin: 1px auto;
    grid-template-columns: 420px 420px;
    grid-template-rows: 250px;
    column-gap: 8vw;
    /* background-color: burlywood; */
}
.col1 {
    /* margin: 6.2rem 0 6.2rem 15rem; */
    /* padding: 6.2rem 0 6.2rem 17vw; */
    text-align: left;
    padding: 6.2rem 0 6.2rem 0;
    /* background-color: red; */
    /* margin: 14% 0 14% 34%; */
}

.col2 {
    padding: 6.5rem 0 0 1rem;
    text-align: left;
    /* background-color: gold; */
    /* margin: 14% 0 0; */
}

.text p {
    width: 100%;
    margin-top: 10px;
}

/* IMAGE GRID */
img {
    width: 238px;
}

.team-members {
    display: grid;
    max-width: max-content;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 400px 400px;
    margin: 4.5rem auto;
    /* column-gap: 67px; */
    column-gap: 5vw;
    row-gap: 8rem;
    /* background-color: aqua; */
}

.member {
    /* border: 1px solid black; */
}

.job {
    text-transform: uppercase;
    transform: rotate(90deg);
    position: relative;
    bottom: 255px;
    left: 121px;
}

.member:nth-of-type(2),
.member:nth-of-type(5) {
    margin-top: 7rem;
}

.member:nth-of-type(2) .job,
.member:nth-of-type(5) .job {
    bottom: 260px;
}

.member:nth-of-type(6) .job,
.member:nth-of-type(4) .job {
    bottom: 257px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1100px) {
    .team-members {
        column-gap: 3vw;
    }
}
@media only screen and (max-width: 1046px) {
    .text {
        grid-template-columns: 390px 390px;
    }
}
@media only screen and (max-width: 950px) {
    .text {
        grid-template-columns: 370px 370px;
    }
    .team-members {
        column-gap: 1vw;
    }
}
@media only screen and (max-width: 865px) {
    .text {
        grid-template-columns: 580px;
        grid-template-rows: 184px 122px;
    }
    .col1 {
        padding-bottom: 0px;
    }
    .col2 {
        padding-top: 0;
        padding-left: 0;
    }
    .team-members {
        grid-template-columns: 270px 270px;
        column-gap: 6vw;
    }
    .member:nth-of-type(4) {
        margin-top: 7.4rem;
    }
    .member:nth-of-type(6) {
        margin-top: 7.5rem;
    }
    .member:nth-of-type(5) {
        margin-top: 0;
    }
    footer {
        margin-top: 8rem;
    }
}
@media only screen and (max-width: 610px) {
    .text {
        grid-template-columns: 500px;
    }
    img {
        width: 200px;
    }
    .team-members {
        grid-template-columns: 250px 250px;
        column-gap: 2vw;
    }
    .job,
    .member:nth-of-type(4) .job,
    .member:nth-of-type(6) .job {
        left: 93px;
        bottom: 212px;
    }
    .member:nth-of-type(2) .job,
    .member:nth-of-type(5) .job {
    bottom: 217px;
    }
}
@media only screen and (max-width: 547px) {
    .text {
        grid-template-columns: 460px;
    }
    .team-members {
        grid-template-columns: 235px 235px;
        padding-left: 3vw;
        row-gap: 5rem;
    }
    .job {
        bottom: 218px;
    }
    .member:nth-of-type(4) .job,
    .member:nth-of-type(6) .job {
        bottom: 220px;
    }
    .member:nth-of-type(2) .job,
    .member:nth-of-type(5) .job {
        bottom: 224px;
    }
}
@media only screen and (max-width: 460px) {
    .text {
        grid-template-columns: 90vw;
    }
    .team-members {
        column-gap: 1vw;
        padding-left: 4vw;
        row-gap: 4rem;
    }
}