/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-size: 16px;
}

body {
    background-color: #181719;
    color: white;
    padding: 6vh 5vw;
}

/* TYPOGRAPHY */
p, li, h1, a {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
#logo {
    text-transform: uppercase;
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 16px; */
    line-height: 1rem;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 18px; */
    font-size: 1.125rem;
    /* line-height: 22px; */
    line-height: 1.375rem;
}

nav ul .current {
    font-weight: 700;
}

.full-name, .job {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.full-name {
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 17px; */
    line-height: 1.063rem;
}
.job {
    /* font-size: 12px; */
    font-size: 0.75rem;
    /* line-height: 15px; */
    line-height: 0.938rem;
    color: #828282;
    margin-top: 8px;
}
.work-desc {
    font-family: 'Lora';
    font-weight: 700;
    /* font-size: 24px; */
    font-size: 1.5rem;
    /* line-height: 31px; */
    line-height: 1.938rem;
    margin-top: 1.5rem;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    /* font-size: 48px; */
    font-size: 3rem;
    /* line-height: 61px; */
    line-height: 3.813rem;
    margin-top: -10rem;
}

.text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* font-size: 24px; */
    font-size: 1.5rem;
    /* line-height: 29px; */
    line-height: 1.813rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 1.125rem;
    /* line-height: 22px; */
    line-height: 1.375rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text a:visited {
    color: white;
}

footer p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 17px; */
    line-height: 1.063rem;
    color: #A9A9A9;
    margin-top: 3rem;
    margin-bottom: -1.5rem;
}

footer p a {
    color: #A9A9A9;
    font-weight: 700;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#logo {
    border: 1px solid white;
    width: 6.375rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-menu {
    width: 38vw;
}

.desktop-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.desktop-menu ul .current {
    padding-bottom: 6px;
    border-bottom: 2px solid white;
}

/* mobile menu */
.mobile-menu span {
    font-size: 2.5rem;
    cursor: pointer;
}

#mobile-menu-list {
    width: 100vw;
    height: 90vh;
    background-color: #181719;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    left: -1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    z-index: 1;
    
}

#close-icon-container {
    display: none;
    background-color: #181719;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5vw;
}

#close-menu {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    /* background-color: palegreen; */
}

/* text section */
.text {
    width: 30vw;
    /* background-color: yellow; */
}

/* image section */
.image .example {
    width: 51vw;
}

.designer-card {
    /* max-width: 410px; */
    width: 55%;
    background-color: #181719;
    /* border: 1px solid white; */
    padding: 1rem 2rem 1.5rem;
    /* margin-top: -100px; */
    transform: translateY(-80px);
    margin-left: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.designer-card img {
    width: 50px;
    border-radius: 50%;
}

.designer-info {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* MEDIA QUERIES */
/* RESPONSIVENESS */
@media only screen and (max-width: 1218px) {
    h1 {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 1053px) {
    .work-desc {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 997px) {
    .work-desc {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 942px) {
    .work-desc {
        font-size: 1.2rem;
    }
}
/* also the tablet version */
@media only screen and (max-width: 930px) { 
    main {
        flex-flow: column;
    }
    .text, .image, .image .example {
        width: 100%;
    }
    .text {
        margin: 5rem 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    .designer-card {
        width: 70%;
        margin-left: 25%;
    }
    .work-desc {
        font-size: 2rem;
        line-height: 3rem;
    }
    .full-name {
        font-size: 1rem;
    }
    .job {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 926px) {
    .desktop-menu {
        width: 50vw;
    }
}
@media only screen and (max-width: 642px) {
    .desktop-menu {
        width: 60vw;
    }
}
@media only screen and (max-width: 592px) {
    .work-desc {
        font-size: 1.5rem;
        line-height: 1.938rem;
    }
    .full-name {
        font-size: 0.875rem;
    }
    .job {
        font-size: 0.75rem;
    }
}

/* MOBILE MENU */
@media only screen and (min-width: 501px) and (min-height: 501px) {
    .mobile-menu {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .desktop-menu {
        display: none;
    }
    #close-icon-container {
        height: 11vh;
    }
    #mobile-menu-list {
        height: 89vh;
    }
    .designer-card {
        width: 85%;
        margin-left: 10%;
    }
    .text {
        margin-top: 4rem;
    }
}
@media only screen and (min-width: 360px) and (max-width: 460px) and (orientation: portrait) {
    body {
        padding: 3vh 5vw;
    }
    h1 {
        font-size: 2.25rem;
    }
    .text p, .text a {
        font-size: .875rem;
        line-height: 1.125rem; 
    }
    .text p {
        width: 63%;
    }
    main {
        margin-top: 7rem;
    }
    .text {
        margin-bottom: 2rem;
    }
    .text p {
        margin: 1.2rem 0 1.3rem;
    }
    .designer-card {
        width: 85%;
        margin-left: 10%;
        transform: translateY(-50px);
    }
    .designer-card img {
        width: 36px;
    }
    .full-name {
        font-size: 0.75rem;
        line-height: 0.875rem;
    }
    .job {
        font-size: 0.625rem;
        line-height:  0.75rem;
    }
    .designer-info {
        gap: 1rem;
    }
    .work-desc {
        font-size: 1.125rem;
        line-height: 1.438rem;
    }
    footer p {
        margin-top: 1rem;
    }
    .mobile-menu span {
        font-size: 2rem;
    }
    #close-icon-container {
        height: 8vh;
    }
    #mobile-menu-list {
        height: 92vh;
    }
}
@media only screen and (min-width: 376px) and (max-width: 460px) and (orientation: portrait) {
    .text p {
        width: 65%;
    }
    .designer-card img {
        width: 45px;
    }
    .full-name {
        font-size: 0.875rem;
        line-height: 1rem;
    }
    .job {
        font-size: 0.75rem;
        line-height:  0.875rem;
    }
    .work-desc {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    footer p {
        margin-top: 2rem;
    }
    #close-icon-container {
        height: 6.7vh;
    }
    #mobile-menu-list {
        height: 94vh;
    }
}
@media only screen and (min-width: 412px) and (max-width: 414px) and (orientation: portrait) {
    .text {
        margin-bottom: 3rem;
    }
    .image {
        margin-bottom: 0;
    }
    footer p {
        margin-top: 3rem;
    }
}
/* landscape mode phones */
@media only screen and (min-height: 280px) and (max-height: 414px) and (orientation: landscape) {
    .desktop-menu {
        display: none;
    }
    main {
        margin-top: 7rem;
    }
    .text {
        margin-bottom: 3rem;
    }
    footer p {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .designer-card {
        width: 85%;
        margin-left: 10%;
    }
    #close-icon-container {
        height: 16vh;
    }
    #mobile-menu-list {
        height: 84vh;
    }
}
/* galaxy fold portrait mode */
@media only screen and (max-width: 280px) and (orientation: portrait) {
    html {
        font-size: 12px;
    }
    body {
        padding: 3vh 5vw;
    }
    .text {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .text p {
        font-size: 1.2rem;
        width: 80%;
    }
    .designer-card {
        width: 80%;
        margin-left: 15%;
    }
    .designer-info img {
        width: 35px;
    }
    .designer-info {
        gap: 1rem;
    }
    .job {
        margin-top: 4px;
    }
    .work-desc {
        font-size: 1.3rem;
    }
    footer p {
        margin-top: -2rem;
    }
    #close-icon-container {
        height: 8vh;
    }
    #mobile-menu-list {
        height: 92vh;
    }
}
/* galaxy fold portrait mode */ 
@media only screen and (max-height: 280px) and (orientation: landscape) {
    #close-icon-container {
        height: 20vh;
    }
    #mobile-menu-list {
        height: 80vh;
        gap: 25px;
    }
}